<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= @album.title %></div>
  <div class="card-body">
    <p class="card-text"><%= @album.description %></p>
    <%= link_to 'Edit', edit_album_path(@album), class: "badge badge-pill badge-warning" %> |
    <%= link_to 'Back', albums_path, class: "badge badge-pill badge-info" %>
  </div>
</div>

<hr>


<% if @album.album_photos.attached? %>
  <% @album.album_photos.order("created_at DESC").each do |album_photos| %>
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 250px;">
    <%= link_to image_tag(album_photos, style: "width: 250px; height: 250px;", alt: album_photos.filename.to_s), album_photos, target: "_blank"%>
    
    <div style="padding: 8px;text-align: center;font-size: 0.7em">
    <%= number_to_human_size(album_photos.byte_size.to_i) %>
    <%= link_to "Download", album_photos, target: "_blank", class: "badge badge-pill badge-secondary" %>
    <%= link_to 'Delete', delete_album_photos_album_url(album_photos), class: "badge badge-pill badge-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
  <% end %>
<% end %>
